.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

ion-content {
    --background: none transparent !important;
}